body {
    background-color: #121212;
    color: #e0e0e0;  /* Brighter text color */
    font-family: "Fira Code", "Courier New", monospace;
    margin: 0;
    padding: 20px;
    line-height: 1.8;
}

.bold-pink {
    color: #bb86fc;
    font-weight: bold;
    font-size: 1rem;
}

a {
    color: #bb86fc;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #f5f5f5;
    text-decoration: underline;
}


h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
}


ul, ol {
    padding-left: 20px;
    color: #e0e0e0;
}


ul.special-list li {
    color: #bb86fc;
    font-weight: bold;
}

header, footer {
    background-color: #121212;
    padding: 10px;
    text-align: center;
    color: #bbbbbb;
}

nav a {
    color: #ffffff;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #bb86fc;
}

hr {
    border: 0;
    height: 1px;
    background: #444;
    margin: 40px 0;
}

img {
    border-radius: 50%;
    border: 2px solid #bb86fc;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1, h2, p, ul, img, nav a {
    animation: fadeIn 1s ease-in-out;
}

a:hover {
    color: #f5f5f5;
    text-decoration: underline;
    transition: color 0.3s ease;
}